{% extends 'base.html' %}

{% block user %}
    {{ user.usuario.first_name }}
{% endblock %}

{% block header %}

{% endblock %}

{% block main %}

  <table class="table table-striped">
    <thead >
      <tr>
        <th scope="col">ID</th>
        <th scope="col">NOME</th>
        <th scope="col">specification</th>
      </tr>
    </thead>
    <tbody>
      {% for ativos in ativos_list %}
      <tr>
          <td>{{ ativos.unid }}</td>
          <td>{{ ativos.name }}</td>
        <td>{{ ativos.specification }}</td>
      </tr>
       {% endfor %}
    </tbody>
  </table>
{% endblock %}