{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}

{% block user %}
    {{ usuario.first_name }}
{% endblock %}

{% block header %}

{% endblock %}

{% block main %}
<div>
 <form method="post" class="post-form" action="/topdesk/tickets_update">
        {% csrf_token %}

      <div class="form-group">
          <label for="filtro_filas">Fila:</label>
          <select id="filtro_filas" name="filtro_filas" class="form-control" onchange="atualizaTabChamados()">
            <option>-</option>
            <option>GTI</option>
            <option>GTI::Infraestrutura TI</option>
            <option>GTI::NOC::NOC-ADM</option>
            <option>GTI::NOC::RedeIPE</option>
            <option>GTI::Serviços de TI</option>
            <option>GTI::IDC</option>
            <option>GTI::CDC-PE</option>
            <option>GTI::Infraestrutura TI::N3</option>
            <option>GTI::NOC</option>
            <option>GTI::Serviços de TI::N2</option>
            <option>GTI::Infraestrutura TI::N2</option>
            <option>GTI::Serviços de TI::N3</option>
            <option>GTI::Backlog</option>
            <option>GTI::Suporte Local Campinas</option>
            <option>GTI::Cofre de Senhas</option>
            <option>GTI::Serviços de TI::N3::MCONF-TEC</option>
            <option>GTI::INFRA-POPs</option>
            <option>GTI::Suporte Local Brasilia</option>
            <option>GTI::Suporte Local Rio</option>
          </select>
      </div>
  <b>Lista de chamados:</b>
     <div class="tab_lista_chamados">
  <table class="table table-striped" id="tab_lista_chamados">
    <thead >
      <tr>
        <th scope="col"></th>
        <th scope="col">#</th>
        <th scope="col">Descrição</th>
        <th scope="col">Status</th>

      </tr>
    </thead>
    <tbody>
    <!--{% for ticket in tickets_list %}
      <tr>
        <td><input type="checkbox" id="alterar" name="alterar" value="{{ ticket.id }}"></td>
        <td>{{ ticket.number }}</td>
        <td>{{ ticket.briefDescription }}</td>
        <td>{{ ticket.processingStatus.name }}</td>
      </tr>{% endfor %}-->

    </tbody>
  </table>
     </div>
<b>Alteração massiva:</b>
    <div class="form-group">
      <label for="status">Novo status</label>
      <select id="status" name="status" class="form-control">
        <option>-</option>
        <option>Aberto</option>
        <option>Resolvido</option>
        <option>Retomar contato</option>
        <option>Encaminhado</option>
        <option>Aguardando solicitante</option>
        <option>Aguardando fornecedor</option>
      </select>

        <label for="nota">Nova nota</label>
        <textarea class="form-control" id="nota" name="nota" rows="3" >


        </textarea>

    </div>

    <button type="submit" class="btn btn-success">Salvar</button>
    </form>
</div>
{% endblock %}

{% block static %}
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/funcoes-ajax.js' %}"></script>
{% endblock %}