{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block main %}
    


    <table class="table table-striped">
        <thead >
          <tr>
            <th scope="col">ID</th>
            <th scope="col">NOME</th>
            <th scope="col">ATIVO</th>
            <th scope="col">E-MAIL</th>
            <th scope="col">TELEFONE</th>
            
          </tr>
        </thead>
        <tbody>
            {% for acionamento in object_list %}
          <tr>
            <td>                  
                  {{ acionamento.id }}
            </td>
            <td>
                  <a href="{% url 'update_acionamento' acionamento.id %}">{{ acionamento.nome }}</a>
            </td>
            <td>
              {{ acionamento.ativos }}
            </td>
            <td>
              {{ acionamento.email }}
            </td>
            <td>
              {{ acionamento.telefone }}
            </td>
            
          </tr>
           {% endfor %}
        </tbody>
      </table>
      <a href="{% url 'create_acionamento' %}" class="btn btn-light">novo</a>

{% endblock %}