{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block main %}

  <table class="table table-striped">
    <thead >
      <tr>
        <th scope="col">ID</th>
        <th scope="col">NOME</th>
        <th scope="col">IP</th>
        <th scope="col">IC</th>
      </tr>
    </thead>
    <tbody>
      {% for hosts in host_list %}
      <tr>
          <td>{{ hosts.id }}</td>
          <td>{{ hosts.name }}</td>
          <td>{{ hosts.address }}</td>
          <td>{{ hosts.notes }}</td>
      </tr>
       {% endfor %}
    </tbody>
  </table>
{% endblock %}